[Desktop Entry]
Type=Application
Name=Heinrich App
Comment=Dokumente aus Zeiterfassung erzeugen
Exec=/home/marypaulin/development/heinrich-app/scripts/run_linux.sh
Icon=/home/marypaulin/development/heinrich-app/assets/icon.png
Terminal=false
Categories=Office;
